:root {
  --black: #1a1a1a;
  --gray: #575757;
  --light-gray: #a5a5a5;
  --white: #e0e0e0;
  --red: #e03636;
  --light-red: #e96f6f;
  --dark-gray: #272727;
}
body {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  color: var(--light-gray);
}

*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

.links a:visited,
.links a:active {
  font-weight: bold;
  font-style: italic;
}

.links a:visited {
  text-decoration: line-through;
}

.links a:hover {
  color: var(--light-red);
}

hr {
  height: 5px;
  background-color: var(--light-gray);
  border: none;
}

.links {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 auto;
  padding: 10px;
  list-style: inside decimal;
  color: var(--red);
  font-weight: bold;
}

.links li {
  padding: 10px 5px;
  margin: 5px;
  border: 3px solid var(--gray);
  box-sizing: border-box;
}

.links li:hover {
  border-color: var(--white);
}

.files {
  width: 100%;
  padding: 20px 10px;
  margin: auto;
  box-sizing: border-box;
}

.files .wrapper {
  max-width: 40vw;
  max-height: 80vh;
  display: inline-block;
  box-sizing: border-box;
  border-left: 2px solid var(--light-gray);
  padding: 10px;
}

.files .wrapper img,
.files .wrapper video {
  display: block;
  max-width: 39vw;
  max-height: 70vh;
}

@media (max-width: 1023px) {
  .files .wrapper {
    max-width: 100vw;
    max-height: 90vh;
    border: none;
    margin: 0;
    padding: 0;
  }
  .files .wrapper img,
  .files .wrapper video {
    display: block;
    max-width: 100vw;
    max-height: 80vh;
    border: none;
  }
}

.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.action-button {
  border: 3px solid var(--light-gray);
  color: var(--red);
  width: 150px;
  height: 100px;
  cursor: pointer;
}

.show-button {
  background-color: var(--dark-gray);
}

.hide-button {
  background-color: var(--black);
}
