html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #f54269;
}
a:active {
  color: #ed2dd7;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 auto;
}

.files {
  width: 100%;
  padding: 20px 10px;
  margin: auto;
  box-sizing: border-box;
}
.files .wrapper {
  max-width: 40vw;
  max-height: 80vh;
  display: inline-block;
  box-sizing: border-box;
  border-left: 2px solid rgb(175, 175, 175);
  padding: 10px;
}
.files .wrapper img,
.files .wrapper video {
  display: block;
  max-width: 39vw;
  max-height: 70vh;
}

@media (max-width: 1023px) {
  .files .wrapper {
    max-width: 80vw;
    max-height: 90vh;
  }
  .files .wrapper img,
  .files .wrapper video {
    display: block;
    max-width: 79vw;
    max-height: 80vh;
  }
}

.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
